### Install `dtmapi`

In [ ]:
pip install dtmapi==0.0.8

### Import `dtmapi`

In [19]:
import dtmapi

### Get All Country List

In [ ]:
# Get All Country List for which DTM data is available.
all_country_list = dtmapi.get_all_country_list()
all_country_list.head()

### Get All Operation List

In [ ]:
# Get All Country List for which DTM data is available.
all_operation_list = dtmapi.get_all_operation_list()
all_operation_list.head()

### Get IDP Admin 0 Data

In [21]:
# Get IDP Admin 0 Data for Ethiopia from Round 1 to Round 10
idp_admin0_data = dtmapi.get_idp_admin0_data(CountryName='Ethiopia', FromRoundNumber=1, ToRoundNumber=10)
idp_admin0_data.head()

,id,operation,admin0Name,admin0Pcode,numPresentIdpInd,reportingDate,yearReportingDate,monthReportingDate,roundNumber,assessmentType
0,824,Countrywide monitoring,Ethiopia,ETH,1696145,2017-12-31T00:00:00,2017,12,8,SA
1,148,Countrywide monitoring,Ethiopia,ETH,1742461,2018-02-28T00:00:00,2018,2,9,SA
2,834,Countrywide monitoring,Ethiopia,ETH,1613436,2018-04-30T00:00:00,2018,4,10,SA
3,869,Ethiopia - Gedeo and West Guji Rapid Response,Ethiopia,ETH,359113,2018-07-30T00:00:00,2018,7,1,SA
4,293,Northern Ethiopia Crisis,Ethiopia,ETH,131590,2021-01-31T00:00:00,2021,1,2,SA

### Get IDP Admin 1 Data

In [1]:
# Get IDP Admin 1 Data for Sudan from reporting date 2020-01-01 to 2024-08-15
idp_admin1_data = dtmapi.get_idp_admin1_data(CountryName='Sudan', Admin1Name="Blue Nile", FromReportingDate='2020-01-01', ToReportingDate='2024-08-15', to_pandas=True)
idp_admin1_data.head()

,id,operation,admin0Name,admin0Pcode,admin1Name,admin1Pcode,numPresentIdpInd,reportingDate,yearReportingDate,monthReportingDate,roundNumber,assessmentType
0,1663,Darfur conflict,Sudan,SDN,Blue Nile,SD08,81693,2021-03-30T00:00:00,2021,3,2,BA
1,1664,Darfur conflict,Sudan,SDN,Blue Nile,SD08,130958,2021-12-31T00:00:00,2021,12,3,BA
2,1665,Darfur conflict,Sudan,SDN,Blue Nile,SD08,151156,2022-01-31T00:00:00,2022,1,4,BA
3,1666,Darfur conflict,Sudan,SDN,Blue Nile,SD08,152656,2022-03-30T00:00:00,2022,3,5,BA
4,6290,Armed Clashes in Sudan,Sudan,SDN,Blue Nile,SD08,260,2023-04-28T00:00:00,2023,4,2,BA

### Get IDP Admin 2 Data

In [2]:
# Get IDP Admin 2 Data for Lebanon
idp_admin2_data = dtmapi.get_idp_admin2_data(Operation="Displacement due to conflict", CountryName='Lebanon', to_pandas=True)
idp_admin2_data.head()

,id,operation,admin0Name,admin0Pcode,admin1Name,admin1Pcode,admin2Name,admin2Pcode,numPresentIdpInd,reportingDate,yearReportingDate,monthReportingDate,roundNumber,assessmentType
0,48424,Displacement due to conflict,Lebanon,LBN,Baalbek-El Hermel,LB8,Baalbek,LB21,18,2023-10-15T00:00:00,2023,10,1,BA
1,48425,Displacement due to conflict,Lebanon,LBN,Baalbek-El Hermel,LB8,Baalbek,LB21,903,2023-10-15T00:00:00,2023,10,2,BA
2,48486,Displacement due to conflict,Lebanon,LBN,Beirut,LB1,Baabda,LB32,10,2023-10-15T00:00:00,2023,10,1,BA
3,48487,Displacement due to conflict,Lebanon,LBN,Beirut,LB1,Beirut,LB11,1854,2023-10-15T00:00:00,2023,10,1,BA
4,48488,Displacement due to conflict,Lebanon,LBN,Beirut,LB1,Beirut,LB11,1758,2023-10-15T00:00:00,2023,10,2,BA